<div class="about-section__wrapper container">
    <div id="about-section--left" class="left-side col-md-6">

        <div class="sub-header animated slideInLeft">About</div>

        <div id="about-section--left__content">
            <div class="fancy-text">
                Trang Vo <br>
                <span class="spaced"></span>A Young and <br>
                <span class="spaced"></span>Full of Dreams Girl
            </div>
        </div>
    </div>
            <div id="about-section__content--right" class="right-side col-md-6 section-content animated slideInRight">
                <p>Trang is a Computer Science graduate from San Diego State University. She is very passionate about learning and applying new knowledge to her works. After having a chance to learn about Web Development, she has felt in love with UI/UX design. She doesn't want to create products with just a good look, she wants something that looks good, but is also easy to use. With that in mind, she has been trying to learn about User Experience on her own, and applying that to her daily works. Being part of the young generation, Trang is seeking new experiences everyday.</p>
            </div>
</div>
