<div class="container-fluid">
    <div class="before-header__left col-md-6 col-xs-5">
        <h1>Trang Vo</h1>
    </div>

    <div class="before-header__right col-md-6 col-xs-7">
        <div class="social-grid">
            <span class="social-grid__facebook"><a href="https://www.facebook.com/WiNiFeR.MT" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
            <span class="social-grid__linkedin"><a href="https://www.linkedin.com/in/trangvo2306" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
            <span class="social-grid__email"><a href="mailto:vn_minhtrang@yahoo.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
        </div>
    </div>
</div>

