<div class="contact-section__wrapper">
    <div class="contact-section__content container">
        <div class="contact-section__title">Contact Me</div>

        <div class="contact-section__content--left col-md-6">
            <h1>Please feel free to contact me via my social media</h1>
            or you can just send me a message by this contact form :)
        </div>

        <div class="contact-section__content--right col-md-6">
            <form action="" name="myForm">
                <div class="form-group">
                    <label for="name">Your Name:</label>
                    <input type="text" class="form-control required name" id="name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control required email" data-placement="top" data-trigger="manual" data-content="Invalid email" id="email" placeholder="abc@youremail.com">
                </div>
                <div class="form-group">
                    <label for="user_message">Your Message:</label>
                    <textarea class="form-control required message" id="user_message" data-content="Must be at least 3 characters long" data-trigger="manual" data-placement="left" rows="5" col="10" placeholder="Your message for me..."></textarea>
                    <p class="help-block">Feel free to drop me your kind message :)</p>
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>

        </div>

    </div>
</div>

