<div class="contact-section__wrapper">
    <div class="contact-section__content container">
        <div class="contact-section__title">Connect with Me</div>

        <div class="social-below">
            <span class="social-below__facebook"><a href="https://www.facebook.com/WiNiFeR.MT" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></span>
            <span class="social-below__linkedin"><a href="https://www.linkedin.com/in/trangvo2306" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></span>
            <span class="social-below__email"><a href="mailto:vn_minhtrang@yahoo.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email Me</a></span>
        </div>

        </div>

    </div>
</div>

