<div class="contact-section__wrapper">
    <div class="contact-section__content container">
        <div class="contact-section__title">Connect with Me</div>

        <div class="social-below">
            <a href="#"></a><span class="social-below__facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</span></a>
            <a href="#"></a><span class="social-below__twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</span></a>
            <a href="#"></a><span class="social-below__linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</span></a>
            <a href="#"></a><span class="social-below__email"><i class="fa fa-envelope" aria-hidden="true"></i> Email</span></a>
        </div>



        </div>

    </div>
</div>

