<div class="education-section__wrapper container">
    <div class="education__title centered"><span>My Educations</span></div>
    <section class="cd-horizontal-timeline">
        <div class="timeline">
            <div class="events-wrapper">
                <div class="events">
                    <ol>
                        <li><a href="#0" data-date="07/24/2010">24 July 2010</a></li>
                        <li><a href="#0" data-date="08/22/2011">22 Aug 2011</a></li>
                        <li><a href="#0" data-date="05/26/2014">26 May 2014</a></li>
                        <li><a href="#0" data-date="12/18/2016" class="selected">18 Dec 2016</a></li>
                    </ol>

                    <span class="filling-line" aria-hidden="true"></span>
                </div> <!-- .events -->
            </div> <!-- .events-wrapper -->

            <ul class="cd-timeline-navigation">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
            </ul> <!-- .cd-timeline-navigation -->
        </div> <!-- .timeline -->

        <div class="events-content">
            <ol>
                <li data-date="07/24/2010">
                    <div class="timeline-img col-md-2"><img src="img/allendale_logo.png" /></div>
                    <div class="timeline-img col-md-10">
                        <h2>Allendale High School</h2>
                        <em>July 24th, 2010</em>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                        </p>
                    </div>
                </li>

                <li data-date="08/22/2011">
                    <div class="timeline-img col-md-4"><img src="img/MCC_Logo.png" /></div>
                    <div class="timeline-text col-md-8">
                        <em>August 22nd, 2011</em>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                        </p>
                    </div>
                </li>

                <li data-date="05/26/2014">
                    <div class="timeline-img col-md-3"><img src="img/mesaWithDO_bw_vert.png"></div>
                    <div class="timeline-text col-md-9">
                        <h2>San Diego Mesa College</h2>
                        <em>May 26th, 2014</em>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                        </p>
                    </div>
                </li>

                <li class="selected" data-date="12/18/2016">
                    <div class="timeline-img col-md-3"><img src="img/SDSU.png" /></div>
                    <div class="timeline-text col-md-9">
                        <h2>San Diego State University</h2>
                        <em>December 18th, 2016</em>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                        </p>
                    </div>
                </li>

            </ol>
        </div> <!-- .events-content -->
    </section>


</div>

<script type="text/javascript" src="js/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="js/modernizr.js"></script>
<script type="text/javascript" src="js/timeline.js"></script>
