<div class="experience-section__wrapper">
    <div class="experience-section__content">
        <div class="experience-section__title">
            <span class="fancy-quote">"</span>
            <span class="fancy-heading">Experience</span>
        </div>

        <div class="quote-snippet">"Effort never betrays you. But if it ever does, it just means that you didn't try hard enough" <br />
            <span class="quote-author">- Kara's Nicole</span>
        </div>
        <div class="icon-row">
            <div><span class="blinker">C:\</span> HTML  CSS  Wordpress <span class="cursor">_</span></div>
        </div>


        <div class="container experience-section__text">
            <h3>Web Developer</h3>  
            <h4>Home Junction Inc. - 2014 - Present</h4>
            <ul>
                <li>Develop 20+ front-end and content for real estate agent websites and responsible for ongoing 50+ websites.</li> 
                <li>Contribute and improve backend and QA processes of websites and company’s products.</li> 
                <li>Fulfilling customer’s requests for final products and customer services give me the experiences with face-to-face interaction with customers.</li> 
                <li>Communicate with coworkers and project managers frequently.</li> 
                <li>Be able to explain technical problems in understandable ways to customer service department and clients.</li> 
                <li>Apply PHP, Javascript and Jquery, CSS, HTML, Bootstrap to develop Wordpress responsive websites and company’s products everyday.</li> 
            </ul>
        </div>
    </div>
</div>

