<div class="portfolio-section__wrapper container-fluid">
    <div class="overlay"></div>
    <div class="portfolio-section__content">
            <div class="portfolio-section__title">Portfolio</div>

        <div class="portfolio-section__gallery">
            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                   <div class="col-md-6 modalImg"><img src="img/wesley_harper.jpg" /></div>

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">Wesley Harper</div>
                        <div class="imgText">
                            <p>I had a lot of fun doing this project. The client did not give much information about how he wants the site to look like, so I just go off my creativity.</p>
                            <p>His logo is very good, it's simple and has a lot of characters in it. Therefore, I just went off the idea from his logo, made the site with sharp edges and wide cta boxes. He also wanted to have an SVG map, so I just sketched the SVG map, and added in hover effect with jQuery, to have the area lighted up when user hover to the shape or the area's name.</p>
                            <p>It was a fairly easy project. The client was very happy with the site, and he went live with it very soon after I'm done with the site. </p>

                            <h3>Lessons that I learnt:</h3>
                            <ul>
                                <li>Responsive design for cta boxes</li>
                                <li>Improve a very simple design in an elegant way</li>
                                <li>Making SVG interactive map</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item col-sm-6 col-md-4 col-xs-12">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></div>
                        <img src="img/wesley_harper_thumb.jpg" />
                </div>
            </a>
            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                   <div class="col-md-6 modalImg"><img src="img/lake_jackson.jpg" /></div>

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">TCP Lake Jackson</div>
                        <div class="imgText">
                            <p>This company has been a long term customer of my company. They want to have another website for the other office. Because it's jus a sub office, so they aim for a simple and straight forward look. </p>
                            <p>They wanted the mix of their main office site, and all so the simple look from their agent site. The search tabs are the main feature from the main site.</p>
                            <h3>Lessons that I learnt:</h3>
                            <ul>
                                <li>Using bootstrap as an easy way for tab design </li>
                                <li>Break down big tabs nicely on mobile</li>
                                <li>Mix designs with designs</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="item col-sm-6 col-md-4 col-xs-12">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></div>
                    <img src="img/lake_jackson_thumb.jpg" />
                </div>
            </a>

            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                   <div class="col-md-6 modalImg"><img src="img/stevie_chaddick.jpg" /></div>

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">Stevie Chaddick</div>
                        <div class="imgText">
                            <p>This is one of my most difficult project. The original developer of the site made a very good design in my opinion, but the client was not happy with it at all. I took over this project in hope that we can make the client happy.</p>
                            <p>The site has a lot of going back and forth for revision and changes, multiple comps were given from the client to get every pixel right. However, I actually like the simple, elegant and clean look of the site. It doesn't really seems like a real estate site, but it's different.</p>
                            <h3>Lessons that I learnt:</h3>
                            <ul>
                                <li>Even one pixel can make the design look better or worse</li>
                                <li>Having custom design to have different logo placement for homepage and internal page</li>
                                <li>Be different</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item col-sm-6 col-md-4 col-xs-12">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></div>
                    <img src="img/stevie_chaddick_thumb.jpg" />
                </div>
            </a>

            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                   <div class="col-md-6 modalImg"><img src="img/agroup.jpg" /></div>

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">A Group</div>
                        <div class="imgText">This client was on our old version of parent theme, and she wanted to have an upgrade to our newer theme version. I completely change the look from their old site, to this new design, but keep everything that should be on their site at the same time.</div>
                    </div>
                </div>
                <div class="item col-sm-6 col-md-4 col-xs-12">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-4x" aria-hidden="true"></i></div>
                    <img src="img/agroup_thumb.jpg" />
                </div>
            </a>

            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                   <div class="col-md-6 modalImg"><img src="img/sample5.jpg" /></div>

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">Test 5</div>
                        <div class="imgText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium
                            officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                            hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                            reiciendis eligendi! Doloremque quia pariatur harum eaamet quibusdam quisquam, quae,
                            temporibus dolores porro doloribus.</div>
                    </div>
                </div>
                <div class="item col-sm-6 col-md-4 col-xs-12">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></div>
                    <img src="img/sample5.jpg" />
                </div>
            </a>

            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                   <div class="col-md-6 modalImg"><img src="img/sample6.jpg" /></div>

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">Test 6</div>
                        <div class="imgText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium
                            officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                            hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                            reiciendis eligendi! Doloremque quia pariatur harum eaamet quibusdam quisquam, quae,
                            temporibus dolores porro doloribus.</div>
                    </div>
                </div>
                <div class="item col-sm-6 col-md-4 col-xs-12">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></div>
                    <img src="img/sample6.jpg" />
                </div>
            </a>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn exit" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*$(document).ready(function(){
         $("#portfolio-section__gallery").ready(function() {
         $("#portfolio-section .item").hover(
         function () {
         $(this).find('.fancy-hover').removeClass("fadeOut").addClass("fadeIn");
         }, function () {
         $(this).find('.fancy-hover').removeClass("fadeIn").addClass("fadeOut");
         }
         );
         });

         $('[id^=myModal]').on('show.bs.modal', function(e){
         var dataTarget = $(e.relatedTarget);
         var content = '<div class="row">' + dataTarget.find("div").attr('id', 'thisContent').html() + '</div>';
         var modal = $(this);
         modal.find('.modal-body').html(content);
         });
     });*/
</script>
