<div class="portfolio-section__wrapper container-fluid">
    <div class="overlay"></div>
    <div class="portfolio-section__content">
            <div class="portfolio-section__title">Portfolio</div>

        <div class="portfolio-section__gallery">
            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                    <img class ="col-md-6 modalImg" src="../img/sample1.jpg" />

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">Test 1</div>
                        <div class="imgText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium
                            officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                            hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                            reiciendis eligendi! Doloremque quia pariatur harum eaamet quibusdam quisquam, quae,
                            temporibus dolores porro doloribus.</div>
                    </div>
                </div>
                <div class="item col-md-4">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></div>
                        <img src="../img/sample1.jpg" />
                </div>
            </a>
            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                    <img class ="col-md-6 modalImg" src="../img/sample2.jpg" />

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">Test 2</div>
                        <div class="imgText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium
                            officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                            hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                            reiciendis eligendi! Doloremque quia pariatur harum eaamet quibusdam quisquam, quae,
                            temporibus dolores porro doloribus.</div>
                    </div>
                </div>
                <div class="item col-md-4">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></div>
                    <img src="../img/sample2.jpg" />
                </div>
            </a>

            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                    <img class ="col-md-6 modalImg" src="../img/sample3.jpg" />

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">Test 3</div>
                        <div class="imgText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium
                            officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                            hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                            reiciendis eligendi! Doloremque quia pariatur harum eaamet quibusdam quisquam, quae,
                            temporibus dolores porro doloribus.</div>
                    </div>
                </div>
                <div class="item col-md-4">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></div>
                    <img src="../img/sample3.jpg" />
                </div>
            </a>

            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                    <img class ="col-md-6 modalImg" src="../img/sample4.jpg" />

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">Test 4</div>
                        <div class="imgText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium
                            officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                            hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                            reiciendis eligendi! Doloremque quia pariatur harum eaamet quibusdam quisquam, quae,
                            temporibus dolores porro doloribus.</div>
                    </div>
                </div>
                <div class="item col-md-4">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-4x" aria-hidden="true"></i></div>
                    <img src="../img/sample3.jpg" />
                </div>
            </a>

            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                    <img class ="col-md-6 modalImg" src="../img/sample5.jpg" />

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">Test 5</div>
                        <div class="imgText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium
                            officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                            hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                            reiciendis eligendi! Doloremque quia pariatur harum eaamet quibusdam quisquam, quae,
                            temporibus dolores porro doloribus.</div>
                    </div>
                </div>
                <div class="item col-md-4">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></div>
                    <img src="../img/sample5.jpg" />
                </div>
            </a>

            <a data-toggle="modal" data-target="#myModal">
                <div class="thisContent hidden">
                    <img class ="col-md-6 modalImg" src="../img/sample6.jpg" />

                    <div class="col-md-6 modalContent">
                        <div class="imgTitle">Test 6</div>
                        <div class="imgText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium
                            officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                            hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                            reiciendis eligendi! Doloremque quia pariatur harum eaamet quibusdam quisquam, quae,
                            temporibus dolores porro doloribus.</div>
                    </div>
                </div>
                <div class="item col-md-4">
                    <div class="fancy-hover animated"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></div>
                    <img src="../img/sample6.jpg" />
                </div>
            </a>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn exit" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        $("#portfolio-section__gallery").ready(function() {
            $("#portfolio-section .item").hover(
                    function () {
                        $(this).find('.fancy-hover').removeClass("fadeOut").addClass("fadeIn");
                    }, function () {
                        $(this).find('.fancy-hover').removeClass("fadeIn").addClass("fadeOut");
                    }
            );
        });

        $('[id^=myModal]').on('show.bs.modal', function(e){
            var dataTarget = $(e.relatedTarget);
            var content = '<div class="row">' + dataTarget.find("div").attr('id', 'thisContent').html() + '</div>';
            var modal = $(this);
            modal.find('.modal-body').html(content);
        });
    });
</script>